[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jayant Karanjekar (jayantkaranjekar)
	owner = group user/pravinrajput
	label-Code-Review = -1..+1 group user/pravinrajput
[access "refs/for/refs/*"]
	read = group Reviewer
	read = group user/Jayant Karanjekar (jayantkaranjekar)
	push = group Reviewer
	push = group user/Jayant Karanjekar (jayantkaranjekar)
	push = group user/pravinrajput
	label-Code-Review = -2..+2 group user/Jayant Karanjekar (jayantkaranjekar)
	label-Code-Review = -2..+2 group user/pravinrajput
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -1..+1 group Reviewer
	label-Verified = -1..+1 group Reviewer
	label-Verified = -1..+1 group user/Jayant Karanjekar (jayantkaranjekar)
	label-Verified = -1..+1 group user/pravinrajput
	rebase = group Reviewer
	rebase = group user/Jayant Karanjekar (jayantkaranjekar)
	removeReviewer = group Reviewer
	removeReviewer = group user/Jayant Karanjekar (jayantkaranjekar)
	submit = group Reviewer
	submit = group user/Jayant Karanjekar (jayantkaranjekar)
[access "refs/heads/*"]
	read = group user/Jayant Karanjekar (jayantkaranjekar)
	read = group user/pravinrajput
	create = group user/Jayant Karanjekar (jayantkaranjekar)
	create = group user/pravinrajput
	push = +force group user/Jayant Karanjekar (jayantkaranjekar)
	pushMerge = group user/Jayant Karanjekar (jayantkaranjekar)
	label-Code-Review = -1..+1 group user/pravinrajput
[access "refs/tags/*"]
	push = +force group user/Jayant Karanjekar (jayantkaranjekar)
	push = group user/pravinrajput
	pushTag = group user/Jayant Karanjekar (jayantkaranjekar)
	pushTag = group user/pravinrajput
	pushSignedTag = group user/Jayant Karanjekar (jayantkaranjekar)
	pushSignedTag = group user/pravinrajput
[receive]
	requireChangeId = false
